.box {
    float: left;
    padding: 0.1%;
    color: #fff;
    height: 49px;
    line-height:49px;
    text-align:center;
    margin: 0px;
    background: #f00;
    border: 0px solid #4889a3;
}

head {
	visibility:hidden;
}
.home {
    text-align:left;
    width:20%;
}
.login {
    text-align:right;
    width:20%
}
.appname {
    test-transform:uppercase;
    width:60%;
    font-size:40px;
}
.banner {

}

.search {
	width:100%;
}

table { 
    width:100%;
}

td {
	float:center;
}

label {
    float:left;
    padding:10px;
}
.button {
    margin: 0 auto;
    padding: 10px;
    background: #333;
    width: 190px;
    color: #fff;
    height: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
}

#backarrow {
	width:10%;
	height:30px;
	position:absolute;
	test-align:center;
	font-family:sans-serif;
	line-height:30px;
}
#backarrow:after {
	content:'';
	position:absolute;
	height:0;
	border:18px solid;
	left:-15px;
	top:15%;
	border-top-color:transparent;
	border-bottom-color:transparent;
	border-left-color:transparent;
	border-right-color:blue;
}