		.nav-glyphish-example .ui-btn .ui-btn-inner { padding-top: 40px !important; }
		.nav-glyphish-example .ui-btn .ui-icon { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: 0 !important; border-radius: 0 !important; }
		#home .ui-icon { background:  url(pics/53-house.png) 50% 50% no-repeat; background-size: 24px 22px; }
        #login .ui-icon { background:  url(pics/30-key.png) 50% 50% no-repeat;  background-size: 12px 26px; }
		